<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a href="" class="bottom-menu-brand">OSSP</a>
      </div>
      <div class="col-md-8 col-sm-8">
        <ul class="bottom-menu-list">
          <li><a href="">About Us</a></li>
          <li><a href="">Privacy</a></li>
          <li><a href="">Terms</a></li>
          <li><a href="">Follow Us</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2">
        <ul class="bottom-menu-iconic-list">
          <li><a href="https://www.facebook.com/groups/1500321840185061/"><i class="fa fa-lg fa-facebook-square"></i></a></li>
          <li><a href="https://twitter.com/OneStartupPitch"><i class="fa fa-lg fa-twitter-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /bottom-menu-inverse -->
