<div class="login-container">
  <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
      <input type="email"
        name="email"
        id="login-name"
        ng-model="loginForm.email"
        required="required"
        class="form-control login-field"
        placeholder="Enter your name" />
    </div>
    <div class="form-group">
      <input type="password"
             name="password"
             id="login-password"
             ng-model="loginForm.password"
             required="required"
             class="form-control login-field"
             placeholder="Password"/>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="login-link" href="/register">Need to register?</a>
  </form>
</div>

<div ng-repeat="error in errors" class="alert alert-danger" role="alert"
  ng-show="errors">
  {{ error }}
</div>
